*
  box-sizing: border-box;

.hero
  background-image: url(../images/desktop.jpg)
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: cover
  position: relative
  height: 90vh
  @media screen and (max-width: 900px)
    background-image: url(../images/mobile-xs.jpg)

//
// lato
//   regular
//     heavy
//       bold
//         semibold
//           italic
//             medium

sm
  480x172

md
  960x300

lg
  normal size
