body
  section(class="hero")


    header
      nav(class="navbar custom-nav")
        button(class="navbar-toggler hidden-sm-up", type="button", data-toggle="collapse", data-target="#exCollapsingNavbar2", aria-controls="exCollapsingNavbar2", aria-expanded="false", aria-label="Toggle navigation") &#9776;
        a(class="nav-link hidden-sm-up" href="#")
          img(src="assests/images/logo.svg", alt="ahrefs logo")
        div(class="collapse navbar-toggeleable-xs", id="exCollapsingNavbar2")
          ul(class="nav navbar-nav")
            li(class="nav-item")
              a(class="nav-link  hidden-xs-down", href="#")
                img(class="logo", src="assests/images/logo.svg", alt="ahrefs logo")
            li(class="nav-item")
              a(class="nav-link", href="#") Tools
            li(class="nav-item")
              a(class="nav-link", href="#") Plans & Pricing
            li(class="nav-item")
              a(class="nav-link", href="#") Help
            li(class="nav-item")
              a(class="nav-link", href="#") About
          ul(class="nav navbar-nav nav-right hidden-sm-down")
            li(class="nav-item")
              a(class="nav-link btn-border", href="#") Start free trial
            li(class="nav-item")
              a(class="nav-link", href="#") Or
            li(class="nav-item")
              a(class="nav-link", href="#") Sign In


    //- div(class="container")
    //-   div(class="row")
    //-     div(class="col-xs-12")
    //-       h1 Powerful toolset for SEO and beyond
    //-   div(class="row")
    //-     div(class="col-xs-12")
    //-       h1 Track your backlinks, keywords, brand mentions and know what your competitors are doing
    //-   div(class="row")
    //-     div(class="col-xs-12")
    //-       button Start FREE 14-day trial
    //-   div(class="row")
    //-     div(class="col-xs-12")
    //-       div(class="mac-wrapper")
    //-         img(src="images/mac.png", alt="macbook", class="img-fluid")

    nav(class="navbar custom-nav")
      button(class="navbar-toggler hidden-sm-up", type="button", data-toggle="collapse", data-target="#exCollapsingNavbar", aria-controls="exCollapsingNavbar", aria-expanded="false", aria-label="Toggle navigation") &#9776;
      a(href="#", class="nav-link hidden-sm-up")
        img(class="logo" src="assests/images/logo.svg" alt="company logo")
      div(class="collapse navbar-toggeleable-xs", id="exCollapsingNavbar2")
        ul(class="nav navbar-nav")
          li(class="nav-item")
            a(href="#", class="nav-link hidden-sm-up")
              img(class="logo" src="assests/images/logo.svg" alt="company logo")
          li(class="nav-item")
            a(class="nav-link") Tools
          li(class="nav-item")
            a(class="nav-link") Plans & Pricing
          li(class="nav-item")
            a(class="nav-link") Help
          li(class="nav-item")
            a(class="nav-link") About
