html(lang="en")
  head
    title Ahrefs
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assests/css/main.css")
    include mixins

    body
      section(class="hero")
        header
          nav(class="navbar custom-nav")
            button
        div(class="container")
          div(class="row")
            div(class="col-xs-12")
              h1 Powerful toolset for SEO and beyond
          div(class="row")
            div(class="col-xs-12")
              h1 Track your backlinks, keywords, brand mentions and know what your competitors are doing
          div(class="row")
            div(class="col-xs-12")
              button Start FREE 14-day trial
          div(class="row")
            div(class="col-xs-12")
              div(class="mac-wrapper")
                img(src="images/", alt="", class="img-fluid")
