div(class="data")
  div(class="container data-details")
    canvas(id="canvas", width="1800", height="900", class="hidden-lg-down")
    div(class="data-headline")
      h1 The biggest and most accurate database of live backlinks
    //- div(class="data-table")
    //-   div(class="row")
    //-     div(class="col-lg-6 first__child")
    //-       p(class="title__top-left") Every day we crawl
    //-       p
    //-         span 5
    //-         span <i>billion</i> <br/><i>web pages</i>
    //-     div(class="col-lg-6 second__child")
    //-       p(class="title__top-left") Our index size:
    //-       p
    //-         span 12
    //-         span <i>trillion</i> <br/><i>known links</i>
    //-   div(class="row")
    //-     div(class="col-lg-6 third__child")
    //-       p
    //-         span 200
    //-         span <i>million</i> root<br/>domains
    //-     div(class="col-lg-6 fourth__child")
    //-       p
    //-         span 2
    //-         span <i>trillion</i><br/><i>known URLs</i>
    //-   div(class="row")
    //-     div(class="col-lg-6 fifth__child")
    //-       p(class="title__top-left") Powered by:
    //-       p
    //-         span 10
    //-         span <i>petabytes</i> <br/><i>of storage</i>
    //-     div(class="col-lg-6 sixth__child")
    //-       p
    //-         span 5000
    //-         span <i>CPU</i><br/><i>cores</i>

  div(class="data-table-mobile container hidden-sm-down")
    div(class="row")
      div(class="col-md-6 col-xs-6 first__child")
        p(class="title__top-left") Every day we crawl:
        span 5
        p <span>billion</span><br/>web pages
      div(class="col-md-6 col-xs-6 second__child")
        p(class="title__top-left") Our index size:
        span 200
        p <span>million</span> root<br/>domains
    div(class="row")
      div(class="col-md-6 col-xs-6 third__child")
        span 12
        p <span>trillion</span><br/>known links
      div(class="col-md-6 col-xs-6 fourth__child")
        span 2
        p <span>trillion</span><br/>known URLs
    div(class="row")
      div(class="col-md-6 col-xs-6 fifth__child")
        p(class="title__top-left") Powered by:
        span 10
        p petabytes<br/>of storage
      div(class="col-md-6 col-xs-6 sixth__child")
        span 5000
        p CPU<br/>cores

  div(class="data-table-mobile-xs container hidden-md-up")
    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          p(class="title__top-left") Every day we crawl:
          span 5
          p <span>billion</span><br/>web pages
        div(class="col-xs-12")
          span 12
          p <span>trillion</span><br/>known links
      div(class="row")
        div(class="col-xs-12")
          p(class="title__top-left") Our index size:
          span 200
          p <span>million</span> root<br/>domains
        div(class="col-xs-12")
          span 2
          p <span>trillion</span><br/>known URLs
      div(class="row")
        div(class="col-xs-12")
          p(class="title__top-left") Powered by:
          span 10
          p petabytes<br/>of storage
        div(class="col-xs-12")
          span 5000
          p CPU<br/>cores
