div(class="hero")
  include header/header
  div(class="container headline")
    div(class="row")
      div(class="col-xs-12")
        h1 Powerful toolset for SEO and beyond
    div(class="row")
      div(class="col-xs-12")
        p Track your backlinks, keywords, brand mentions and know what your competitors are doing
    div(class="row")
      div(class="col-xs-12")
        button(class="btn-orange") Start FREE 14-day trial
  div(class="container mac-wrapper")
    div(class="row")
      div(class="col-lg-12 hidden-sm-down")
        img(src="assests/images/mac.png", alt="ahrefs mac showcase", class="img-fluid")
