div(class="pricing")
  div(class="container pricing-headline")
    h1 Plans & Pricing
    p Pick the package that suits you best and register your Ahrefs account
    ul(class="pricing-tab")
      li(class="nav-item tab-li") Monthly
      li(class="nav-item tab-li") Annual
  div(class="container pricing-wrapper")
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Lite
          p(class="pricing-tag")
            span $
            span 66
            p(class="pricing-tag-details")
              span $79
              br
              span /month
        ul(class="pricing-descriptions")
          li.
            3 Campaigns
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            250 Tracked keywords
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            5 Million rows/month
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-border-blueText") Free 14-day trial
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Standard
          p(class="pricing-tag")
            span $
            span 149
            p(class="pricing-tag-details")
              span $179
              br
              span /month
        ul(class="pricing-descriptions")
          li.
            10 Campaigns
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            750 Tracked keywords
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            30 Million rows/month
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-orange") Free 14-day trial
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Advanced
          p(class="pricing-tag")
            span $
            span 332
            p(class="pricing-tag-details")
              span $399
              br
              span /month
        ul(class="pricing-descriptions")
          li.
            30 Campaigns
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            2500 Tracked keywords
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
          li.
            125 Million rows/month
            <img src="assests/images/question-mark.png" data-toggle="tooltip" data-placement="top" title="This is when you add your site to Ahrefs’ Dashboard and we automate some of your SEO work for you: check your domain SEO health, notify you of new and lost backlinks, track your keyword rankings, etc.">
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-border-blueText") Subscribe
  a(class="pricing-compare") Compare the full list features
