div(class="pricing")
  div(class="container pricing-headline")
    h1 Plans & Pricing
    p Pick the package that suits you best and register your Ahrefs account
    ul(class="pricing-tab")
      li(class="nav-item tab-li")
        a(href="#") Monthly Pricing
      li(class="nav-item tab-li")
        a(href="#") Annual Pricing
  div(class="container pricing-wrapper")
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Lite
          p(class="pricing-tag")
            span $
            span 66
            p(class="pricing-tag-details")
              span $79
              br
              span /month
        ul(class="pricing-descriptions")
          li 3 Campaigns
          li 250 Tracked keywords
          li 5 Million rows/month
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-border-blueText") Free 14-day trial
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Lite
          p(class="pricing-tag")
            span $
            span 66
            p(class="pricing-tag-details")
              span $79
              br
              span /month
        ul(class="pricing-descriptions")
          li 3 Campaigns
          li 250 Tracked keywords
          li 5 Million rows/month
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-orange") Free 14-day trial
    div(class="col-lg-4")
      div(class="pricing-table")
        div(class="pricing-table-header")
          h4 Lite
          p(class="pricing-tag")
            span $
            span 66
            p(class="pricing-tag-details")
              span $79
              br
              span /month
        ul(class="pricing-descriptions")
          li 3 Campaigns
          li 250 Tracked keywords
          li 5 Million rows/month
        ul(class="pricing-tools")
          li Site Explorer
          li Positions Explorer
          li Content Explorer
          li Rank Tracker
          li Crawl Report
          li Ahrefs Alerts
        a(class="btn-border-blueText") Subscribe
  a(class="pricing-compare") Compare the full list features
