div(class="try-it")
  div(class="container")
    h1 Try Ahrefs for free
    p Registering your trial will only take a few minutes and then you'll be able to use all Ahrefs premium features for 14 days free of charge
    button(class="btn-orange") Start FREE 14-day trial
