div(class="footer")
  div(class="container-fluid")
    div(class="footer-brand")
      img(src="assests/images/footer-logo.png", class="float-xs-left")
      ul(class="float-xs-right")
        li
          a About
        li
          a Jobs
        li
          a Affiliate
        li
          a Help
        li
          a Contact
        li(class="lang")
          a English
    div(class="clearfix")
    p &reg 2016 Ahrefs Pte Ltd. 16 Raffles Quay, #33-03 Hong Leong Building, Singapore
    p(class="terms") Terms & Conditions <span>Privacy Policy</span>
